.title {
    background-color: #ffffff;
    
}

h1 {
    font-family: fantasy;
    font-weight: 500;
    text-align: center;
    color: #0f1a27;
    text-transform: uppercase;
    font-size:65px;
    margin: 5px 20px 20px;
} 


body {
    background-image: url(https://fondosmil.com/fondo/35240.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 18px;
    border: 20px;
    padding-left: 20px;
    margin: 50px;
    border: collapse;
    justify-self: center;
    
}

.classnumberCreditCard {
    text-align: center;
    width: 250px;
    height: 25px;
    margin: 150px 0px;
    border-radius: 10px;
    transform: translate(0%, 350%);
}

.idbotonvalidar{
    text-align: center;
    font-size: larger;
    margin: 20px 5px ;
    background-color: #1f2a5c;
    color: #ffffff;
    width: 250px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    transition: .3s ease-in-out all;
}

.idbotonvalidar:hover{
    background-color: #db9f6d;
}

p {
    color: rgb(14, 30, 44);
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
}

.contenedor {
    
    width: 50px 50px;
    background-color: #49a3a7;
    align-items: center;
    max-width: 50px;
    padding: 350px 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0px 1px 8px 2px #535353;
}

.main-contenedor{

    background-image: url(https://p4.wallpaperbetter.com/wallpaper/364/532/1022/textures-1920x1080-abstract-textures-hd-art-wallpaper-preview.jpg);
    width: 350px;
    height: 200px;
    transform: translate(200%, -310%);
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
}

.card{
    color:#ffffff;
    padding: 50px 50px 25px 50px;
    

}

.logochip{
    transform: translate(-250%, 60%)
}
